@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-black);
}

:root {
    /* Colors */
    --color-primary: #3bebe2;
    --color-warning: #fadc79;
    --color-error: #fa7979;
    --color-grey: rgb(185, 185, 185);
    --color-black: rgb(52, 52, 52);
    --bg-page: #ffffff;

    /* Margins */
    --horizontal-margin: 2rem;

    /* Font */
    --font-size-h1: 2.3rem;
    --font-size-h2: 1.5rem;
}

body {
    background-color: var(--bg-page);
    margin: 0 var(--horizontal-margin);
    height: 100vh;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

.pageHeading {
    padding-bottom: 1rem;
}

.btn {
    padding: 0.7em 1.2em;
    border-radius: 1rem;
    border: 1px solid var(--color-grey);
    font-size: 1rem;

    cursor: pointer;
}

.btn-primary {
    border: none;
    background-color: var(--color-primary);
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}
